.sp_8eIm3C9wXnx{background-image:url(/rsrc.php/v3/yO/r/JhZQeWxeOIc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_8eIm3C9wXnx.sx_75bb54{background-position:0 0}

#bootloader_RAYNJoE{height:42px;}.bootloader_RAYNJoE{display:block!important;}