.sp_-v4OX0Gm7it{background-image:url(/rsrc.php/v3/yM/r/-ExreK0HDJX.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_-v4OX0Gm7it.sx_584e5e{background-position:0 0}

#bootloader_szDkKFb{height:42px;}.bootloader_szDkKFb{display:block!important;}