.perrito {
    width: 1000px;
    height: 270px;
    align-items: center;
    margin: 70px auto 70px auto;
 }

.perrito:hover {
transition-duration: 1s;
transform: scale(1.1);
}

 
.estiloNotFound {
     font-size: 98px;
     text-align: center;
 }
 
 .body404{
     display: flex;
     justify-content: center;
 }

 .notFound{
     font-size: 35px;
     margin: 10px 35px 20px 35px;
     font-family: 'Rubik', sans-serif;
    text-align: center;
 }


 .linkHome {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    
 }