* {
 box-sizing: border-box;

}

/*logo que me redirecciona a la pagina principal*/
.logo{
    @include logo;
  }

/*Titulo mas pequeño*/
.tituloCastracion {
    @include titulosPrincipales;
  }


/*titulo mas grande*/

  h1 {
    @include titulosPrincipales;
    margin-top: 90px;
  }


  /*parrafo informativo*/

  .primerParrafo{
    @include parrafo;
    font-size: 25px;
  }

  .segundoParrafo{
    @include parrafo;
    font-size: 25px;
  }

  .tercerParrafo{
    @include parrafo;
    font-size: 25px;
  }


  /*imagen*/

  .perrito{
    display: flex;
    justify-content: center;

    .fotoPerrito{
    width: 450px;
  }
}

  /////*Estilo Footer*/////
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'izquierda centro derecha';
  font-family: 'Rubik', sans-serif;
  h4{
      grid-area:centro;
      margin: auto;
      font-size: 20px;
  }
 .logosRedesSociales{
  grid-area:derecha;
  width:180px;
  display: flex;
  flex-direction: row;
  margin-left:40%;
  justify-content: space-between;
  i{
      font-size: 35px;
  }
}
}


  
/*Barra desplegable de perros y gatos*/

#barraDesplegable li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul{
  list-style: none;
}

#barraDesplegable li>a:hover{
  color: black;
  background-color: #eaeaea;

}

#barraDesplegable>li{
  float: left;
  text-align:center
}

#barraDesplegable>li>ul{
  display: none;
}

#barraDesplegable>li:hover>ul {
  display: block;
}


 /*barra desplegable*/

.enlaces {
display:inline;
color: $textoEnlaces;
font-size: $textoEnlacesTamaño;
font-family: 'Rubik', sans-serif;
word-spacing: 60px;
letter-spacing: 5px;
margin: auto 35px;

}

a:visited{
color:rgb(29, 27, 27);
}
