* {
 box-sizing: border-box;

}

/*logo que me redirecciona a la pagina principal*/
.logo{
    @include logo;
  }

/*Titulo mas pequeño*/
.tituloCastracion {
    @include titulosPrincipales;
    margin-top: 90px;
    text-align: center;
  }


/*titulo mas grande*/

  .importanciaCastraciones{
    @include titulosPrincipales;
    margin-top: 90px;
    text-align: center;
  }


  /*parrafo informativo*/

  .primerParrafo{
    @include parrafo;
    font-size: 23px;
    margin: 20px 30px 20px 30px;
  }

  .segundoParrafo{
    @include parrafo;
    font-size: 23px;
    margin: 20px 30px 20px 30px;
  }

  .tercerParrafo{
    @include parrafo;
    font-size: 23px;
    margin: 20px 30px 20px 30px;
  }




  /////*Estilo Footer*/////
  footer{
    margin: 40px 45px 40px 45px;
    text-align: center;
    font-family: 'Caveat', cursive;
}

  
/*Barra desplegable de perros y gatos*/

#barraDesplegable li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul{
  list-style: none;
}

#barraDesplegable li>a:hover{
  color: black;
  background-color: #eaeaea;

}

#barraDesplegable>li{
  float: left;
  text-align:center
}

#barraDesplegable>li>ul{
  display: none;
}

#barraDesplegable>li:hover>ul {
  display: block;
}


 /*barra desplegable*/

.enlaces {
display:inline;
color: $textoEnlaces;
font-size: $textoEnlacesTamaño;
font-family: 'Rubik', sans-serif;
word-spacing: 60px;
letter-spacing: 5px;
margin: auto 35px;

}

a:visited{
color:rgb(29, 27, 27);
}
