*{
    box-sizing: border-box;
    font-family: Arial, Helvetica;
    
  }



/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {

    .cabecera{
      position:relative;
        background-image: url(../Imagenes/Mascotas.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 80%;
        max-width: 80%;
        color: azure;

        .logo{
            width: 20%;
            height: 20%;
            margin: 2px 70px 5px 2px;
        }
        
    }


     /*imagen*/

    .perrito{
        display: flex;
        justify-content: center;
        flex-direction: column;
      
       

    .fotoPerrito{
        width: 100px;
        

    }

    .fotoGatito{
        width: 100px;
    }


    .importanciaCatraciones{
        font-size: 25px;

    }
}


}



/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {

}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){


  /*imagen*/

  .perrito{
    display: flex;
    justify-content: center;

    .fotoPerrito{
      width: 450px;
    }

    .fotoGatito{
      width: 490px;
    }
}

}