*{
    box-sizing: border-box;
    font-family: Arial, Helvetica;
    
  }


  /* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/
    .itemsDonaciones{
        display:flex;
        flex-direction: column;
    }
    .liBody{
        list-style:circle;

    }
    .metodosDePago{
        font-size: 25px;
        list-style:circle;
    }
    .mercadoPago{
        width: 300px;
        align-self: center;
        
    }
    .cardsContainer{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        gap: 30px;
    } 
    .card-title{
        width: 100%;
    } 
    .card-img-top{
        height: 100%;
        width: 100%;
    }
        .card-body{
        width: 100%;
    }
}


/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
    body{
    
    
            .cardsContainer div img {
                min-height: 200px;
                object-fit: cover;
                gap: 10px;
              }

             .cardsContainer{
                 display: flex;
                 flex-direction:column;
                 justify-content:center;
                 align-items:center;
                 gap: 20px;
            } 
              
              .card-title{
                width: 300px;
                height: 5px;
              }
              
              .card-img-top{
                height: 300px;
                width: 300px;
              }
            
              
        .itemsDonaciones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;
      
        }
        .metodosDePago{
            font-family: Arial;
            font-size: 25px;
            list-style:circle;
            width: 50%;
            align-self: center;
       
           
            
        }
        .mercadoPago{
            align-self: center;
            width: 400px;
         
        }




    }
    
    

}





@media only screen and (min-width: 962px){

    /*Barra desplegable de perros y gatos*/
    #barraDesplegable{
        background-color: transparent;    
        }
    body{
        .itemsDonaciones {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: 'izquierda derecha';
            margin-top: 80px;
            margin-bottom: 80px;
            font-family: 'Caveat', cursive;
        }
        .metodosDePago{
            grid-area: izquierda;
            margin: auto;
            font-size: 25px;
            list-style:circle;
        }
        .mercadoPago{
            grid-area: derecha;
            width: 500px;
         
        }
        .cardsContainer div img {
            min-height: 200px;
            object-fit: cover;
            gap: 10px;
        }
         .cardsContainer{
            display: flex;
            justify-content:center;
            gap: 20px;
        } 
          
          .card-title{
            width: 300px;
            height: 5px;
        }
          
          .card-img-top{
            height: 300px;
            width: 300px;
        }

    }
    
}

