/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
  h2{
    font-size:20px;
  }

    .cabecera{
      position:relative;
        background-image: url(../Imagenes/Mascotas.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 80%;
        max-width: 80%;
        color: azure;

        .logo{
            width: 20%;
            height: 20%;
            margin: 2px 70px 5px 2px;
        }
        
    }
    .importanciaCatraciones{
      font-size: 25px;
    }
    /*imagen*/

  .perrito{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
      gap:10px;
      width:100%;
      margin:0;

    .fotoPerrito{
        width: 100%;
    }

    .fotoGatito{
        width: 100%;
    }
  }
}




/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
  .perrito{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:100%;
    margin:0;
    gap:20px;
    img{
      width:80%;
    }
  }
}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){


  /*imagen*/

  .perrito{
    display: flex;
    justify-content: center;
    align-items:center;

    .fotoPerrito{
      width: 450px;
    }

    .fotoGatito{
      width: 490px;
    }
}

}