*{
    box-sizing: border-box;
    font-family: arial;
  }

  /* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/
    .itemsDonaciones{
        display:flex;
        flex-direction: column;
    }
     

}

@media only screen and (min-width: 962px){
    .itemsDonaciones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'izquierda derecha';
        margin-top: 80px;
        margin-bottom: 80px;
        font-family: 'Caveat', cursive;
      
        .metodosDePago{
            grid-area: izquierda;
            margin: auto;
            font-size: 25px;
            list-style: inherit;
        }
       .mercadoPago{
         grid-area: derecha;
         
        }
    }
}

