
*{
  box-sizing: border-box;
  font-family: Arial, Helvetica;
}

.bodyDonaciones{
  background-color: cadetblue;
}

.parrafoDonaciones {
  @include parrafo;
  line-height: 1,8px;
  font-size: 25px;
  margin: 60px 25px 30px 25px;

  .seccionParrafo{
    margin: 70px 10px 30px 10px;
    font-size: 25px;
  }
  }



/////*Estilo Pagos*/////


/////*logo pocas pulgas*////

.logo{
  @include logo;
}


.footerDonaciones {
  margin: 60px 40px 60px 40px;
  font-family: arial;
}


/////*Barra desplegable de perros y gatos*/////

#barraDesplegable li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;

}

#barraDesplegable{
  list-style: none;
}

#barraDesplegable li>a:hover{
  color: black;
  background-color: #eaeaea;

}

#barraDesplegable>li{
  float: left;
  text-align:center;
}

#barraDesplegable>li>ul{
  display: none;
}

#barraDesplegable>li:hover>ul {
  display: block;
}


.enlaces {
display:inline;
color: $textoEnlaces;
font-size: $textoEnlacesTamaño;
font-family: arial;
word-spacing: 60px;
letter-spacing: 5px;
margin: auto 35px;

}

a:visited{
color:rgb(29, 27, 27);
}


////*Boostrap*/////



.tituloGracias{
  text-align: center;
  margin: 70px 5px 40px 5px;
  font-family: arial;
}

