
*{
    box-sizing: border-box;
  }

 /*barra desplegable*/

    .enlaces {
      /*para que se ponga en linea*/
      display:inline;
      color:$colorVisited;
      font-size: $textoEnlaces;
      font-style: italic;
      font-family: 'Rubik', sans-serif;
      word-spacing: 60px;
      letter-spacing: 5px;
      margin: auto 35px;
      
}

a:visited{
    color: $colorVisited;
}


/*Primeras imagenes*/

 .accesosDirectos {
    margin: 70px 10px 70px 10px;
    transition: height 2s;
    
 }

 .image {
    width: 430px;
    height: 400px;
    margin:calc(100%-50px);
    object-fit: cover;     
 }


/*logo pocas pulgas*/

 .logo{
    @include logo;
}


/*cuerpo de la pagina*/

body {
    background-color: $backgroundLila;
    background-size: 1400px;
    background-repeat: no-repeat;

}

/*estilos para icono*/

i{
    font-size: 30px;
    color:indigo;
    
}

/*pequeño parrafo de pagina principal*/

.parrafoPocasPulgas {
     color: rgb(36, 34, 34);
     font-size: 32px;
     line-height: 1.5;
}


/*estilos para mi parrafo*/
.contenedorParrafo {
    @include contenedorParrafo;
    margin: 20px 30px 20px 30px;
  
}


.donacionesPocasPulgas {
    width: 90%;
    margin: auto;
    border: 5px double rgb(41, 38, 38);
    object-fit: cover;
    transition: height 2s;

    .imgDonaciones{
        margin: 30px 20px 30px 40px;
    }

}



/////*Estilo Footer*/////
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'izquierda centro derecha';
    font-family: 'Caveat', cursive;
    margin: 40px 0 40px 0;
    h4{
        grid-area:centro;
        margin-top: auto;
        font-size: 20px;
    }
   .logosRedesSociales{
    grid-area:derecha;
    width:180px;
    display: flex;
    flex-direction: row;
    margin-left:40%;
    justify-content: space-between;
    i{
        font-size: 35px;
    }
}
}

/*Barra desplegable de perros y gatos*/

#barraDesplegable li>a{
    background-color: grey;
    color: white;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

.desplegable{
    position:relative;
    & div{
    position:absolute;
    }
}

ul{
    list-style: none;
}

#barraDesplegable li>a:hover{
    color: black;
    background-color: #eaeaea;

}

#barraDesplegable>li{
    float: left;
    text-align:center
}

#barraDesplegable>li>ul{
    display: none;
}

#barraDesplegable>li:hover>ul {
    display: block;
}


/*mapa de llegada al refugio]*/

.mapaDeLlegada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'izquierda  derecha';
    margin-top: 40px;
    margin-bottom: 40px;

    .mapa{
        grid-area: izquierda;
        margin: auto;
    }   

    .videoExplicativo{
        grid-area: derecha;
        margin: auto;
    }
    
    

}

/* Transiciones*/

.image:hover {
    transition: all 0,2s ease;
    transform: scale(1.1);
}
 
.icono1{
    transition: all 1.5s linear;
}

.icono2{
    
    transition: all 1.5s ease-in;
}

.icono3{
    
    transition: all 1.5s ease-out;
}

.icono4{
    
    transition: all 1.5s ease-in-out;
}

.icono5{
    
    transition: all 1.5s ease;
}

.barraLateral:hover .icono1,
.barraLateral:hover .icono2,
.barraLateral:hover .icono3,
.barraLateral:hover .icono4,
.barraLateral:hover .icono5 {
    transform: translateX(70px);

}

////*estilos para pagina Nosotros*/////


/////*titulo mas grande*/////

  .tituloMision{
  @include titulosPrincipales;
  margin: 30px 40px 10px 40px;
  text-align: center;
  }

  .parrafosNosotros{
   font-size: 20px;
   margin-left: 30px;
 }

 .tituloObjetivos{
     color: #a728a7;
 }

  .listaDesordenada {
      list-style: circle;
      color: rgb(22, 21, 21);
      font-size: 20px;
    }



  .item{
    margin: 10px;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 20px;      
} 

.pequeñosParrafos{
    @include pequeñosParrafos;
    color: #a728a7;
    margin: 30px 40px 30px 40px;
}

.tituloComoTrabajamos{
    text-align: center;
    margin-top: 40px;
}

.itemParrafo{
    @include parrafo;
    margin: 30px 40px 30px 40px;
    font-size: 20px;
}

.tituloNosotros{
    display: flex;
    justify-content: center;

}

.tituloObjetivos{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 27px;
}    

.footerNosotros{
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
}



/////*Nosotros*/////

/*Boostrap*/

#carouselExampleIndicators {
    max-width: 600px;
    display: flex;
    justify-content: center;
    max-height: 50%;
    align-items: center;
   
    &.carousel{
        @include carousel;
    }

    & .carouselBoot {
        @include carousel;
    }
}

.carouselBoot{
    width: 50%;
    margin: auto;
    max-height: 50%;

}

.carousel-inner{
    max-height: 50%;
}



.bodyNosotros{
    background-color: $backgroundLila;
    
}



/*Transiciones*/

.donacionesPocasPulgas .imgDonaciones:hover{
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px rgb(99, 16, 99);
    transform: rotate(360deg);
}

/*Estilos para Transitos*/

.transitosPocasPulgas{
    width: 75%;
    height: 75%;
    object-fit: cover;
    margin-left: 60px;

}

.parrafoTransitos{
    font-family:'Rubik', sans-serif;
    font-size: $textoParrafo; 
    color: $colorVisited;
}


.primerTituloTransitorio{
    text-align: center;
    margin-bottom: 50px;
}


.transitorioTitulo{
    font-family:'Rubik', sans-serif;
    color: #a728a7;
    font-weight: bold;
    margin-left: 30px;
    }

.parrafoTransitos{
    margin: 30px 25px 30px 25px;
}

.transitosFotos{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'izquierda  derecha';
  
}


#transito1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#transito2 {
    grid-column: 2/3;
    grid-row: 1/2;
}   

#transito3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#transito4{
    grid-column: 1/2;
    grid-row: 2/3;
}

#transito5{
    grid-column: 2/3;
    grid-row: 2/3;
}

#transito6{
    grid-column: 3/4;
    grid-row: 2/3;
}

#transito7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#transito8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#transito9 {
    grid-column: 3/4;
    grid-row: 3/4;
}
