
/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/

    .cabecera{
        background-image: url(../Imagenes/Mascotas.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 100%;

        .logo{
            width: 20%;
            height: 20%;
            margin: 2px 70px 5px 2px;
        }
        
    }

    body{
        background-color:red;
        .image{
            max-width:70%;
            display: flex;
            justify-content: center;
            margin-left: 50px;
            gap: 20px;
        }

        .primerTituloImagenes{
            font-size: 25px;
            margin: 10px 45px 30px 45px;
            text-align: center;
            font-family: 'Caveat', cursive;
        }

        .contenedorParrafo {
            margin: 20px 30px 20px 30px;
  
        }

        .parrafoPocasPulgas{
            line-height: 0,7px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            margin: 5px 10px 5px 10px;
            font-family: 'Caveat', cursive;
        }

  
    
        .tituloDonaciones{
            font-family: 'Caveat', cursive;
            display: flex;
            justify-content: center;
            font-size: 0,5px;
        }

        .imgDonaciones{
            max-width: 250px;
            margin: 15px 10px 15px 35px;

        }

        /*Transiciones*/

        .donacionesPocasPulgas .imgDonaciones:hover{
        border-radius:50%;
        box-shadow: 0px 0px 15px 15px rgb(99, 16, 99);
        transform: rotate(360deg);
        }


        .donacionesPocasPulgas{
            margin: 30px 20px 30px 20px;
            display: flex;
            display: inline;
        }
        
        .logosRedesSociales{
            display: flex;
            justify-content: space-between;
            margin: 20px 30px 20px 20px;
        } 
        
        .mapaDeLlegada {
        display: flex;
        flex-direction: column;
        margin: 25px 5px 10px 25px;
        }
    } 

    /////*Estilo Footer*/////
    footer {
        display: flex;
        display: inline;
        font-family: 'Caveat', cursive;
        
        h4{
            grid-area:centro;
            margin-top: auto;
            font-size: 20px;
        }
    }
}
    





/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
    body{
        background-color:blue;
        
        .cabecera{
            background-image: url(../Imagenes/Mascotas.jpg);
            background-size: 115%;
            display: flex;
            flex-direction:column;
            flex-wrap: nowrap;
            background-repeat: no-repeat;
            background-size: contain;
            
        }

        /*logo pocas pulgas*/

        .logo{
            width: 16%;
            height: 16%;
        }
        .accesosDirectos{
            div{
                display: flex;
                flex-wrap:wrap;
                justify-content:center;
                .image{
                    width: 270px;
                    height: 250px;
                    margin: 10px ;
                }
            }
        }

        .primerTituloImagenes{
            text-align: center;
            color: $colorTitulos;
            font: size 50px;
            font-family: 'Caveat', cursive;
        }


        
        .donacionesPocasPulgas{
            display: flex;
            flex-direction:column;
            justify-content: center;
            gap:20px;
            a{
                width:80%;
                align-self:center;
                max-width:500px;
                
            }
            .imgDonaciones{
               width:100%;
            }
        }


        .tituloDonaciones{
            text-align: center;
            font-size: 27px;
            font-family: 'Caveat', cursive;

        }

        .parrafoPocasPulgas{
            font-family: 'Caveat', cursive;
            font-size: 25px;
            margin: 5px 10px;
            text-align: center;

        }

          /*Transiciones*/

          .donacionesPocasPulgas .imgDonaciones:hover{
            border-radius:50%;
            box-shadow: 0px 0px 15px 15px rgb(99, 16, 99);
            transform: rotate(360deg);
        }

        .mapaDeLlegada{
           display: flex;
           justify-content: center;
           flex-direction: column;
           margin-top: 40px;
           gap:15px;
           .mapa{
               width:350px;
               height:340px;
               align-self:center;    
           }
           .videoExplicativo{
               width: 350px;
               height:340px;
               align-self:center;
           }

        }
    

    }

    .logosRedesSociales{
        display: flex;
        justify-content: center;
        width:100%;
        flex-direction: row;
        justify-content: space-between;
        i{
            font-size: 35px;
        }
    }
}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){
    body{
        background-color: $backgroundLila;;
        
        .accesosDirectos{
            div{
                display:flex;
                flex-direction:row;
                justify-content: space-around;
                .image{
                    width: 300px;
                    max-width:400px;
                    min-height: 280;
                    max-height:400px;
                    margin: 20px 15px 20px 30px;
                    
                }
            }
        }

        .cabecera{
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            width: 100%;
            max-width: 100%;
            background-image: url(../Imagenes/Mascotas.jpg);
            padding-bottom:20px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .tituloDonaciones{
            font-family: 'Caveat', cursive;
            display: flex;
            justify-content: center;
            color: #a728a7;
            font-size: 30px;
            
        }

       

        .primerTituloImagenes{
            @include titulosPrincipales;
            color: $colorTitulos;
            display: flex;
            justify-content: center;
            font-family: 'Caveat', cursive;
           
        }

        /*estilos para mi parrafo*/
        .contenedorParrafo {
            @include contenedorParrafo;
            margin: 20px 30px 20px 30px;
  
        }
        .parrafoPocasPulgas {
            color: rgb(36, 34, 34);
            font-size: 25px;
            line-height: 1.5;
            font-family: 'Caveat', cursive;
        }
       .donacionesPocasPulgas {
            width: 100%;
            margin: auto;
            border: 5px double rgb(41, 38, 38);
            object-fit: cover;
            transition: height 2s;
        }
       
        .imgDonaciones{
            width: 300px;
            height: 170px;
            display: inline-block;
            margin: 10px;
            transition: height 2s;
        }

        /*Transiciones*/

        .donacionesPocasPulgas .imgDonaciones:hover{
        border-radius:50%;
        box-shadow: 0px 0px 15px 15px rgb(99, 16, 99);
        transform: rotate(360deg);
        }   
    }
    /*mapa de llegada al refugio]*/

    .mapaDeLlegada {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'izquierda  derecha';
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .mapa{
        grid-area: izquierda;
        margin: auto;
    }   

    .videoExplicativo{
        grid-area: derecha;
        margin: auto;
    }

    .logosRedesSociales{
        grid-area:derecha;
        width:180px;
        display: flex;
        display: inline;
        i{
            font-size: 35px;
        }
    }
       /////*Estilo Footer*/////
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'izquierda centro derecha';
        font-family: 'Caveat', cursive;
        margin: 40px 0 40px 0;
        h4{
            grid-area:centro;
            margin-top: auto;
            font-size: 20px;
        }
    }
}


