
/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/
    body{
        background-color:red;
        .image{
            max-width:100%;
        }
        .imgDonaciones{
            max-width:100%;
        }
    }
    .cabecera{
        width:100%;
        .enlaces{
            width:10%;
            
        }

        .barraLateral{
            display: inline;
            width: 100px;
            height: 89px;

        }

        .primerTituloImagenes{
            color: $colorTitulos;
            max-width: 5px;
            margin: 0 20px 0 20px;
        }

        .parrafoPocasPulgas{
            line-height: 0,7px;
            font-size: 1,5px;
            display: flex;
            justify-content: center;
            margin: 5px 30px 5px 30px;
        }

        .tituloDonaciones{
            font-family: 'Rubik', sans-serif;
            display: flex;
            justify-content: center;
            font-size: 3px;
        }

        .imgDonaciones{
            max-width: 260px;

        }
        
        
    }

    aside{
        .barraLateral{
            max-width: 150px;
            margin-left: 150px;
            font-size: 10px;
        }

        .botones{
            max-width: 80px;
            margin-top: 20px;
            margin-left: 80px;
            display: flex;
            justify-content: center;
        }

        .logosRedesSociales{
            display: flex;
            text-align: center;
            justify-content: space-between;
            display: inline-block;
            margin-left: 90px;
            margin-bottom: 40px;

            
            
        } 

    }
    

}


 

/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
    body{
        background-color:blue;

        .cabecera{
            background-image: url(../Imagenes/Mascotas.jpg);
            background-size: 115%;
            display: flex;
            flex-direction:column;
            flex-wrap: nowrap;
            background-repeat: no-repeat;
            
        }

        /*logo pocas pulgas*/

        .logo{
            width: 120px;
            height: 90px;
        }

        .image{
            width: 270px;
            height: 250px;
            margin: 10px ;
        }

        .primerTituloImagenes{
            display: flex;
            justify-content: center;
            color: $colorTitulos;
            font: size 20px;
            margin-left: 50px;
        }


        .logosRedesSociales{
            justify-content: space-between;
            display: inline-block;
           
        } 

        .imgDonaciones{
           max-width: 200%;
           max-height: 180%;

        }

    }
}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){
    body{
        background-color:rgb(117, 131, 117);
        .barraLateral{
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-content: center;
        }

            .cabecera{
                display:flex;
                flex-direction:column;
                flex-wrap:nowrap;
                width:100%;
                background-image: url(../Imagenes/Mascotas.jpg);
                background-size: cover;
                padding-bottom:20px;
            }
        

        .tituloDonaciones{
            font-family: 'Rubik', sans-serif;
            display: flex;
            justify-content: center;
        }

        .imgDonaciones{
            width: 400px;
            height: 200px;
            display: inline-block;
            margin: 10px;
            transition: height 2s;
        }

        .primerTituloImagenes{
            @include titulosPrincipales;
            color: $colorTitulos;
            display: flex;
            justify-content: center;
            font-family: 'Caveat', cursive;
           
        }
        
    }


    aside{

        .barraLateral { 
            width: 300px;
            height: 250px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-content: center;
         
        }


        .logosRedesSociales{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            height: 800px;
            
        } 

        .botones{
            padding: 0%;
            height: 40px;
            text-align: center;
            
        }
        
    }
}

