

/////*logo*/////
.logo{
   @include logo;
}


/////*Barra desplegable de perros y gatos*/////

#barraDesplegable li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

ul{
    list-style: none;
}

#barraDesplegable li>a:hover{
    color: black;
    background-color: #eaeaea;

}

#barraDesplegable>li{
    float: left;
    text-align:center
}

#barraDesplegable>li>ul{
    display: none;
}

#barraDesplegable>li:hover>ul {
    display: block;
}


/////*parrafo*/////
.parrafoAdopcionesNuestras {
    @include parrafo;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 20px 30px 20px 30px;
    
}

/////*TITULOS*/////
.requisitos {
    @include titulosPrincipales;
    color: $colorTitulos;
    text-align: center;
   
}

h3 {
    @include otrosTitulos;
    background-color: $backgroundLila;
  
}

.tituloTips{
    @include titulosPrincipales;
    font-size: 25px;
    color: $colorTitulos;
    text-align: center;

}

.parrafoTips{
    margin-top: 40px;
    font-size: 25px;
}


/////*lista dentro de recuadro*/////

.nuestrasAdopcionesLista{
    border: 5px solid rgb(36, 33, 33) ;
    width: 66%;
    margin: auto;
    border-radius: 10px;
}

.tituloList{
    @include titulosPrincipales;
    font-size: 25px;
    color: $colorTitulos;

}
 .itemLista{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    line-height: 1,8px; 
    color: black;
    text-decoration: wavy;
    font-family: 'Caveat', cursive;
  }


/////*Estilo Footer*/////
    footer{
        margin: 40px 45px 40px 45px;
    }

.listaDentroRecuadro {
    border: 5px solid rgb(36, 33, 33) ;
    margin: 40px 30px 40px;
    border-radius: 10px;
    text-align: center;
}


 /////*barra desplegable*/////

  .enlaces {
  display:inline;
  color: rgb(22, 05, 50);
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
  
  }
  
  a:visited{
  color:rgb(29, 27, 27);
  }


  .imagenesPerrosAdopciones{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: 'izquierda derecha';
      margin: 50px 20px 30px 70px;
        .primerImagenNuestras{
            grid-area: izquierda;
            width: 550px;
            margin:30px 20px 30px 40px;
        }

        .segundaImagenNuestras{
            grid-area: derecha;
            margin: 30px 40px 50px 30px;
            width: 500px;
            
    
        }
  }

  .primerImagenNuestras:hover {filter: sepia(60%);}
  .segundaImagenNuestras:hover {filter: sepia(60%);}
  