*{
    box-sizing: border-box;
    font-family: Arial, Helvetica;
  }



/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/
    #barraDesplegable{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin: 15px 10px 10px 10px;
    ul{
        display: none;
      }

      input:checked  ~ ul{
        display:block;
      }
      input {
        display: none;
      }

      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }

      li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }

    
    }

    .cabecera{
        background-image: url(../Imagenes/Mascotas.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 80%;
        max-width: 80%;
        color: azure;

        .logo{
            width: 20%;
            height: 20%;
            margin: 2px 70px 5px 2px;
        }
        
    }

    body{
        
        .mismoTitulo{
            @include titulosPrincipales;
            text-align: center;
            font-family: arial;
            font-size: 25px;
        }

    //////*Estilos para el pequeño parrafo de presentacion*/////

        .mismoParrafo{
            @include parrafo;
            font-size: 25px;
            align-self: center;
        
        }
        .perrosEnAdopcion{
            display: flex;
            flex-direction: column;
            .cachorrosGrid{
                width:80%;
                align-self:center;   

            }

        }
        
    }
    
}    


/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
    
    /*Barra desplegable de perros y gatos*/

    body{
        background-color:blue;

       .mismoParrafo{
           font-size: 25px;
           align-self: center;
       } 


       .perrosEnAdopcion{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        .cachorrosGrid{
            width:50%;
            align-self:center;  
            }
        }



    } 

    footer{
        font-size: 25px;
    }

}    

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){
    body{
        background-color: $backgroundLila;


        
        .perrosEnAdopcion {
         width: 100%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px;
        justify-content: center;
        margin: 20px 10px 50px 10px;
        }

        .mismoParrafo{
            font-size: 25px;
            align-self: center;
        }



    }
   
}

