*{
    box-sizing: border-box;
    font-family: Arial, Helvetica;

  }



/* MOBILE!!!!!!! */

@media only screen and (max-width: 370px) {
    /*ordinary css rules*/
    .cabecera{
        background-image: url(../Imagenes/Mascotas.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        color: azure;

        .logo{
            width: 20%;
            height: 20%;
            margin: 2px 70px 5px 2px;
        }
        
    }

    body{
        
        .mismoTitulo{
            @include titulosPrincipales;
            text-align: center;
            font-family: arial;
            font-size: 25px;
        }

    //////*Estilos para el pequeño parrafo de presentacion*/////

        .mismoParrafo{
            @include parrafo;
            font-size: 25px;
            align-self: center;
        
        }
        .perrosEnAdopcion{
            display: flex;
            flex-direction: column;
            .cachorrosGrid{
                width:80%;
                align-self:center;   

            }

        }
        
    }
    
}    


/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
    
    /*Barra desplegable de perros y gatos*/

    body{
        
            background-color: cadetblue;
         
        

       .mismoParrafo{
           font-size: 25px;
           align-self: center;
       } 


       .perrosEnAdopcion{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        .cachorrosGrid{
            width:50%;
            align-self:center;  
            }
        }



    } 

    footer{
        font-size: 25px;
    }

}    

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px){
    
/*Barra desplegable de perros y gatos*/
   

    .enlaces {
        /*para que se ponga en linea*/
        display:inline;
        color:$colorVisited;
        font-size: $textoEnlaces;
        font-style: italic;
        font-family: 'Rubik', sans-serif;
        word-spacing: 60px;
        letter-spacing: 5px;
        margin: auto 35px;
        
  }
  
  a:visited{
      color: $colorVisited;
  }
    
    body{
        .perrosEnAdopcion {
         width: 100%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px;
        justify-content: center;
        margin: 20px 10px 50px 10px;
        }

        .mismoParrafo{
            font-size: 25px;
            align-self: center;
        }



    }
   
}

