//COLORES
$backgroundLila: cadetblue;
$colorTitulos: rgb(167, 40, 167);
$colorVisited:  #1d1b1b;
$colorTexto: rgb(44, 39, 39);
$textoEnlaces:  rgb(22, 05, 50);

//TAMAÑOS DE LETRA:
$titulosPrincipales: 30px;
$textoParrafo: 25px;
$textoEnlacesTamaño: 15px;

