@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*barra desplegable*/
.enlaces {
  /*para que se ponga en linea*/
  display: inline;
  color: #1d1b1b;
  font-size: #160532;
  font-style: italic;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

/*Primeras imagenes*/
.accesosDirectos {
  margin: 70px 10px 70px 10px;
  -webkit-transition: height 2s;
  transition: height 2s;
}

.image {
  width: 430px;
  height: 400px;
  margin: calc(100%-50px);
  -o-object-fit: cover;
     object-fit: cover;
}

/*logo pocas pulgas*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*cuerpo de la pagina*/
body {
  background-color: #b695c0;
  background-size: 1400px;
  background-repeat: no-repeat;
}

/*estilos para icono*/
i {
  font-size: 35px;
  color: indigo;
}

/*pequeño parrafo de pagina principal*/
.parrafoPocasPulgas {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  line-height: 0,7px;
}

/*estilos para mi parrafo*/
.contenedorParrafo {
  border-top: 3px dashed #242121;
  border-bottom: 3px dashed #242121;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 250px;
}

.donacionesPocasPulgas {
  width: 100%;
  margin: 40px auto 40px auto;
  border: 5px double #292626;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: height 2s;
  transition: height 2s;
}

/*Flex box para la barra lateral (aside)*/
aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*estilos para botones*/
.botones li {
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Rubik', sans-serif;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

.desplegable {
  position: relative;
}

.desplegable div {
  position: absolute;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

/*mapa de llegada al refugio]*/
.mapaDeLlegada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Transiciones*/
.image:hover {
  -webkit-transition: all 0,2s ease;
  transition: all 0,2s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icono1 {
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

.icono2 {
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.icono3 {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.icono4 {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.icono5 {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.barraLateral:hover .icono1,
.barraLateral:hover .icono2,
.barraLateral:hover .icono3,
.barraLateral:hover .icono4,
.barraLateral:hover .icono5 {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

h1 {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin-left: 50px;
}

.parrafosNosotros {
  margin-left: 200px;
}

.listaDesordenada {
  list-style: circle;
  color: #161515;
}

.item {
  margin: 10px;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.pequeñosParrafos {
  margin: 50px 10px 50px 10px;
  display: inline;
}

.itemParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

.transitosPocasPulgas {
  width: 300px;
  height: 350px;
}

.parrafoTransitos {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  color: #1d1b1b;
}

/*Boostrap*/
#carouselExampleIndicators {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselExampleIndicators.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carouselExampleIndicators .carouselBoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselBoot {
  width: 50%;
  margin: auto;
  max-height: 50%;
}

.carousel-inner {
  max-height: 50%;
}

.footerNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyNosotros {
  background-color: #b695c0;
}

/*Transiciones*/
.donacionesPocasPulgas .imgDonaciones:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 15px #631063;
          box-shadow: 0px 0px 15px 15px #631063;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*logo que me redirecciona a la pagina principal*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*Titulo mas pequeño*/
.tituloCastracion {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
}

/*titulo mas grande*/
h1 {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin-top: 90px;
}

/*parrafo informativo*/
.primerParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

.segundoParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

.tercerParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

/*imagen*/
.perrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*pie de pagina*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

/*barra desplegable*/
.enlaces {
  /*para que se ponga en linea*/
  display: inline;
  color: #160532;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyDonaciones {
  background-color: #b695c0;
}

.parrafoDonaciones {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

.seccionParrafo {
  margin: 70px 10px 30px 10px;
  line-height: 0,7px;
}

.itemsDonaciones .metodosDePago .liBody {
  list-style: circle;
  color: #a728a7;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  margin: 50px auto 50px auto;
  width: 400px;
  text-align: justify;
  cursor: pointer;
  line-height: 0,7px;
}

.liBody {
  margin: 10px;
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.footerDonaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px auto 40px auto;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#barraDesplegable {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tituloGracias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 5px 30px 5px;
}

.cardsContainer div img {
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Estilos para el logo*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*Estilos para el pequeño parrafo de presentacion*/
.parrafoGato {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

/*titulo*/
h1 {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
}

/*Fotos de gatos en adopcion aplicadas con Grid*/
.gatosEnAdopcion {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px 50px 10px;
}

.fotosGatos {
  width: 100%;
  height: 100%;
}

#gato1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#gato8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#gato9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.gatosEnAdopcion img:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

/*pie de pagina*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #b695c0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

p {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.perrosEnAdopcion {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px 50px 10px;
}

.cachorrosGrid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#cachorro1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#cachorro2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#cachorro3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#cachorro8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#cachorro9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.perrosEnAdopcion img:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

.footerPerros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.parrafoAdopcionesNuestras {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-family: Helvetica;
}

.requisitos {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
}

h3 {
  font-size: 25px;
  color: #2c2727;
  margin: 70px auto 2px auto;
  width: 66%;
  text-align: center;
  border-radius: 10px;
  background-color: #b695c0;
}

.nuestrasAdopcionesLista {
  border: 5px solid #242121;
  width: 66%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}

.itemLista {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  word-spacing: 5px;
  line-height: 25px;
  color: #222020;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: Helvetica;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listaDentroRecuadro {
  border: 5px solid #242121;
  width: 66%;
  margin: auto;
  border-radius: 10px;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

.perrito {
  width: 1000px;
  height: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px auto 70px auto;
}

.perrito:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.estiloNotFound {
  font-size: 98px;
  text-align: center;
}

.body404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound {
  font-size: 35px;
  margin: 10px 35px 20px 35px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.linkHome {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* MOBILE!!!!!!! */
@media only screen and (max-width: 370px) {
  /*ordinary css rules*/
  body {
    background-color: red;
    /*logo pocas pulgas*/
  }
  body .image {
    max-width: 100%;
  }
  body .imgDonaciones {
    max-width: 100%;
  }
  body .logo {
    width: 120px;
    height: 90px;
  }
  .cabecera {
    width: 100%;
  }
  .cabecera .enlaces {
    width: 10%;
  }
  .cabecera .barraLateral {
    display: inline;
    width: 100px;
    height: 89px;
  }
  .cabecera .primerTituloImagenes {
    color: #a728a7;
    max-width: 1,5px;
    margin: 0 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Rubik', sans-serif;
  }
  .cabecera .parrafoPocasPulgas {
    line-height: 0,7px;
    font-size: 1,5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 30px 5px 30px;
  }
  .cabecera .tituloDonaciones {
    font-family: 'Rubik', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3px;
  }
  .cabecera .imgDonaciones {
    max-width: 260px;
  }
  aside .barraLateral {
    max-width: 150px;
    margin-left: 150px;
    font-size: 10px;
  }
  aside .botones {
    max-width: 80px;
    margin-top: 20px;
    margin-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .logosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: inline-block;
    margin-left: 90px;
    margin-bottom: 40px;
  }
}

/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
  body {
    background-color: blue;
    /*logo pocas pulgas*/
  }
  body .cabecera {
    background-image: url(../Imagenes/Mascotas.jpg);
    background-size: 115%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-repeat: no-repeat;
  }
  body .logo {
    width: 120px;
    height: 90px;
  }
  body .image {
    width: 270px;
    height: 250px;
    margin: 10px;
  }
  body .primerTituloImagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #a728a7;
    font: size 15px;
    margin-left: 50px;
  }
  body .logosRedesSociales {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: inline-block;
  }
  body .imgDonaciones {
    max-width: 200%;
    max-height: 180%;
  }
}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px) {
  body {
    background-color: #b695c0;
  }
  body .barraLateral {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    background-image: url(../Imagenes/Mascotas.jpg);
    background-size: cover;
    padding-bottom: 20px;
  }
  body .tituloDonaciones {
    font-family: 'Rubik', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .imgDonaciones {
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    -webkit-transition: height 2s;
    transition: height 2s;
  }
  body .primerTituloImagenes {
    font-size: 30px;
    color: #a728a7;
    font-family: 'Caveat', cursive;
    color: #a728a7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Caveat', cursive;
  }
  aside .barraLateral {
    width: 300px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .logosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 800px;
  }
  aside .botones {
    padding: 0%;
    height: 40px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */