@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Caveat', arial;
}

/*barra desplegable*/
.enlaces {
  /*para que se ponga en linea*/
  display: inline;
  color: #1d1b1b;
  font-size: #160532;
  font-style: italic;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

/*Primeras imagenes*/
.accesosDirectos {
  margin: 70px 10px 70px 10px;
  -webkit-transition: height 2s;
  transition: height 2s;
}

.image {
  width: 430px;
  height: 400px;
  margin: calc(100%-50px);
  -o-object-fit: cover;
     object-fit: cover;
}

/*logo pocas pulgas*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*cuerpo de la pagina*/
body {
  background-color: #b695c0;
  background-size: 1400px;
  background-repeat: no-repeat;
}

/*estilos para icono*/
i {
  font-size: 30px;
  color: indigo;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

.desplegable {
  position: relative;
}

.desplegable div {
  position: absolute;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

/* Transiciones*/
.image:hover {
  -webkit-transition: all 0,2s ease;
  transition: all 0,2s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icono1 {
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

.icono2 {
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.icono3 {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.icono4 {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.icono5 {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.barraLateral:hover .icono1,
.barraLateral:hover .icono2,
.barraLateral:hover .icono3,
.barraLateral:hover .icono4,
.barraLateral:hover .icono5 {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.tituloMision {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin: 30px 40px 10px 40px;
  text-align: center;
}

.parrafosNosotros {
  font-size: 25px;
  margin: 20px 25px 20px 25px;
}

.tituloObjetivos {
  color: indigo;
}

.listaDesordenada {
  color: #161515;
  font-size: 25px;
}

.item {
  margin: 10px;
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 23px;
}

.pequeñosParrafos {
  margin: 50px 10px 50px 10px;
  display: inline;
  color: #a728a7;
  margin: 30px 40px 30px 40px;
}

.tituloComoTrabajamos {
  text-align: center;
}

.itemParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  margin: 30px 40px 30px 40px;
  font-size: 25px;
}

.sectionNosotros {
  margin: 30px 15px 80px 15px;
}

.sectionNosotros div {
  margin: 50px auto;
  width: 100%;
  text-align: center;
}

.tituloNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tituloObjetivos {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 27px;
}

.footerNosotros {
  text-align: center;
}

.imagenNosotros {
  margin: auto;
  width: 800px;
}

.bodyNosotros {
  background-color: #b695c0;
}

.mismoTitulo {
  text-align: center;
}

.sectionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

.form input {
  margin: 5px;
}

.form :last-child {
  margin: 20px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*Estilos para Transitos*/
.transitosPocasPulgas {
  width: 75%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 60px;
}

.parrafoTransitos {
  font-size: 25px;
  color: #1d1b1b;
}

.primerTituloTransitorio {
  text-align: center;
  margin-bottom: 50px;
  color: #a728a7;
}

.transitorioTitulo {
  color: #a728a7;
  font-weight: bold;
  margin-left: 30px;
}

.parrafoTransitos {
  margin: 30px 25px 30px 25px;
}

.transitosFotos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'izquierda  derecha';
}

#transito1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#transito2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#transito3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#transito4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#transito5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#transito6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#transito7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#transito8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#transito9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*logo que me redirecciona a la pagina principal*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*Titulo mas pequeño*/
.tituloCastracion {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin-top: 90px;
  text-align: center;
}

/*titulo mas grande*/
.importanciaCastraciones {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin-top: 90px;
  text-align: center;
}

/*parrafo informativo*/
.primerParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-size: 23px;
  margin: 20px 30px 20px 30px;
}

.segundoParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-size: 23px;
  margin: 20px 30px 20px 30px;
}

.tercerParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-size: 23px;
  margin: 20px 30px 20px 30px;
}

/*imagen*/
.perrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perrito .fotoPerrito {
  width: 450px;
}

.perrito .fotoGatito {
  width: 490px;
}

footer {
  margin: 40px 45px 40px 45px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

/*barra desplegable*/
.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyDonaciones {
  background-color: #b695c0;
}

.parrafoDonaciones {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  line-height: 1,8px;
  font-size: 25px;
  margin: 60px 25px 30px 25px;
}

.parrafoDonaciones .seccionParrafo {
  margin: 70px 10px 30px 10px;
  font-size: 25px;
}

.itemsDonaciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'izquierda derecha';
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: 'Caveat', cursive;
}

.itemsDonaciones .metodosDePago {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: izquierda;
  margin: auto;
  font-size: 25px;
  list-style: inherit;
}

.itemsDonaciones .mercadoPago {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: derecha;
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.footerDonaciones {
  margin: 60px 40px 60px 40px;
  font-family: 'Caveat', cursive;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#barraDesplegable {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-family: 'Caveat', cursive;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tituloGracias {
  text-align: center;
  margin: 70px 5px 40px 5px;
  font-family: 'Caveat', cursive;
}

.cardsContainer div img {
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  width: 300px;
  height: 5px;
}

.card-img-top {
  height: 300px;
  width: 400px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Estilos para el logo*/
.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

/*Estilos para el pequeño parrafo de presentacion*/
.parrafogato {
  font-size: 25px;
  margin: 20px 30px 60px 30px;
  font-family: 'Caveat', cursive;
}

/*titulo*/
.mismoTitulo {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  margin-left: 40px;
}

/*Fotos de gatos en adopcion aplicadas con Grid*/
.gatosEnAdopcion {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px 50px 10px;
}

.fotosGatos {
  width: 100%;
  height: 100%;
}

#gato1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#gato7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#gato8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#gato9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

/*Barra desplegable de perros y gatos*/
#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.gatosEnAdopcion img:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

footer {
  margin: 40px 45px 40px 45px;
  font-family: 'Caveat', cursive;
}

body {
  background-color: #b695c0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.mismoParrafo {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  margin: 25px 30px 25px 30px;
}

.mismoTitulo {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
}

footer {
  margin: 40px 45px 40px 45px;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.perrosEnAdopcion {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 10px 50px 10px;
}

.cachorrosGrid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#cachorro1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#cachorro2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#cachorro3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#gato4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#cachorro7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#cachorro8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#cachorro9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.perrosEnAdopcion img:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

.logo {
  width: 200px;
  height: 160px;
  border-radius: 70%;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#barraDesplegable li > a {
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

ul {
  list-style: none;
}

#barraDesplegable li > a:hover {
  color: black;
  background-color: #eaeaea;
}

#barraDesplegable > li {
  float: left;
  text-align: center;
}

#barraDesplegable > li > ul {
  display: none;
}

#barraDesplegable > li:hover > ul {
  display: block;
}

.parrafoAdopcionesNuestras {
  font-family: 'Caveat', cursive;
  word-spacing: 5px;
  line-height: 25px;
  color: #2c2727;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: 'Caveat', cursive;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  margin: 20px 30px 20px 30px;
}

.requisitos {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  color: #a728a7;
  text-align: center;
}

h3 {
  font-size: 25px;
  color: #2c2727;
  margin: 70px auto 2px auto;
  width: 66%;
  text-align: center;
  border-radius: 10px;
  background-color: #b695c0;
}

.tituloTips {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #a728a7;
  text-align: center;
}

.parrafoTips {
  margin-top: 40px;
  font-size: 25px;
}

.nuestrasAdopcionesLista {
  list-style: circle;
  margin: 20px 15px 20px 25px;
  border-radius: 20px;
}

.tituloList {
  font-size: 30px;
  color: #a728a7;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #a728a7;
}

.itemLista {
  font-size: 20px;
  line-height: 1,8px;
  color: black;
  font-family: 'Caveat', cursive;
  list-style: inherit;
}

footer {
  margin: 40px 45px 40px 45px;
  font-family: 'Caveat', cursive;
}

.listaDentroRecuadro {
  border: 5px solid #242121;
  margin: 40px 30px 40px;
  border-radius: 10px;
  list-style: inherit;
}

.enlaces {
  display: inline;
  color: #160532;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  word-spacing: 60px;
  letter-spacing: 5px;
  margin: auto 35px;
}

a:visited {
  color: #1d1b1b;
}

.imagenesPerrosAdopciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'izquierda derecha';
  margin: 50px 20px 30px 70px;
}

.imagenesPerrosAdopciones .primerImagenNuestras {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: izquierda;
  width: 550px;
  margin: 30px 20px 30px 40px;
}

.imagenesPerrosAdopciones .segundaImagenNuestras {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: derecha;
  margin: 30px 40px 50px 30px;
  width: 500px;
}

.primerImagenNuestras:hover {
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

.segundaImagenNuestras:hover {
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

.perrito {
  width: 1000px;
  height: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px auto 70px auto;
}

.perrito:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.estiloNotFound {
  font-size: 98px;
  text-align: center;
}

.body404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound {
  font-size: 35px;
  margin: 10px 35px 20px 35px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.linkHome {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* MOBILE!!!!!!! */
@media only screen and (max-width: 370px) {
  /*ordinary css rules*/
  .cabecera {
    background-image: url(../Imagenes/Mascotas.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 100%;
  }
  .cabecera .logo {
    width: 20%;
    height: 20%;
    margin: 2px 70px 5px 2px;
  }
  body {
    background-color: red;
    /*Transiciones*/
  }
  body .image {
    max-width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 50px;
    gap: 20px;
  }
  body .primerTituloImagenes {
    font-size: 25px;
    margin: 10px 45px 30px 45px;
    text-align: center;
  }
  body .contenedorParrafo {
    margin: 20px 30px 20px 30px;
  }
  body .parrafoPocasPulgas {
    line-height: 0,7px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 10px 5px 10px;
  }
  body .tituloDonaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0,5px;
  }
  body .imgDonaciones {
    max-width: 250px;
    margin: 15px 10px 15px 35px;
  }
  body .donacionesPocasPulgas .imgDonaciones:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 15px #631063;
            box-shadow: 0px 0px 15px 15px #631063;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  body .donacionesPocasPulgas {
    margin: 30px 20px 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
  }
  body .logosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 30px 20px 20px;
  }
  body .mapaDeLlegada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px 5px 10px 25px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
  }
  footer h4 {
    grid-area: centro;
    margin-top: auto;
    font-size: 20px;
  }
}

/* TABLET !!!!!*/
@media only screen and (min-width: 371px) and (max-width: 961px) {
  body {
    background-color: blue;
    /*logo pocas pulgas*/
    /*Transiciones*/
  }
  body .cabecera {
    background-image: url(../Imagenes/Mascotas.jpg);
    background-size: 115%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .logo {
    width: 16%;
    height: 16%;
  }
  body .accesosDirectos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .accesosDirectos div .image {
    width: 270px;
    height: 250px;
    margin: 10px;
  }
  body .primerTituloImagenes {
    text-align: center;
    color: #a728a7;
    font: size 50px;
  }
  body .donacionesPocasPulgas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  body .donacionesPocasPulgas a {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 500px;
  }
  body .donacionesPocasPulgas .imgDonaciones {
    width: 100%;
  }
  body .tituloDonaciones {
    text-align: center;
    font-size: 27px;
  }
  body .parrafoPocasPulgas {
    font-size: 25px;
    margin: 5px 10px;
    text-align: center;
  }
  body .donacionesPocasPulgas .imgDonaciones:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 15px #631063;
            box-shadow: 0px 0px 15px 15px #631063;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  body .mapaDeLlegada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    gap: 15px;
  }
  body .mapaDeLlegada .mapa {
    width: 350px;
    height: 340px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .mapaDeLlegada .videoExplicativo {
    width: 350px;
    height: 340px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .logosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logosRedesSociales i {
    font-size: 35px;
  }
}

/* ESCRITORIO / DESKTOP!!!!! */
@media only screen and (min-width: 962px) {
  body {
    background-color: #b695c0;
    /*estilos para mi parrafo*/
    /*Transiciones*/
  }
  body .accesosDirectos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .accesosDirectos div .image {
    width: 300px;
    max-width: 400px;
    min-height: 280;
    max-height: 400px;
    margin: 20px 15px 20px 30px;
  }
  body .cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    background-image: url(../Imagenes/Mascotas.jpg);
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .tituloDonaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #a728a7;
    font-size: 30px;
  }
  body .primerTituloImagenes {
    font-size: 30px;
    color: #a728a7;
    font-family: 'Caveat', cursive;
    color: #a728a7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .contenedorParrafo {
    border-top: 3px dashed #242121;
    border-bottom: 3px dashed #242121;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    height: 250px;
    margin: 20px 30px 20px 30px;
  }
  body .parrafoPocasPulgas {
    color: #242222;
    font-size: 25px;
    line-height: 1.5;
  }
  body .donacionesPocasPulgas {
    width: 100%;
    margin: auto;
    border: 5px double #292626;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: height 2s;
    transition: height 2s;
  }
  body .imgDonaciones {
    width: 300px;
    height: 170px;
    display: inline-block;
    margin: 10px;
    -webkit-transition: height 2s;
    transition: height 2s;
  }
  body .donacionesPocasPulgas .imgDonaciones:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 15px #631063;
            box-shadow: 0px 0px 15px 15px #631063;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  /*mapa de llegada al refugio]*/
  .mapaDeLlegada {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'izquierda  derecha';
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mapa {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: izquierda;
    margin: auto;
  }
  .videoExplicativo {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: derecha;
    margin: auto;
  }
  .logosRedesSociales {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: derecha;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
  }
  .logosRedesSociales i {
    font-size: 35px;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'izquierda centro derecha';
    margin: 40px 0 40px 0;
  }
  footer h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: centro;
    margin-top: auto;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */